@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Rocker&family=Pixelify+Sans:wght@400..700&family=Poppins:wght@300;400;500;600&family=Share+Tech&family=Uncial+Antiqua&display=swap');
@import "tailwindcss";
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-boldonse: "Boldonse", sans-serif;
  --font-pixelify: "Pixelify Sans", sans-serif;
  --font-sharetech: "Share Tech", sans-serif;
  --font-newrocker: "New Rocker", cursive;
  --font-uncial: "Uncial Antiqua", cursive;
}


.tagbox{
    position: relative;
    width: 14rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #b600ce, #000000, #6600c5, #5300a0, #dedede, #b600ce);
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px rgba(255,255,255,0.3);

}


@keyframes animationGradient{
    to{
        background-position: 200%;
    }
}

.tagbox .tag{
    position: absolute;
    inset: 2px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition:  0.5s ease;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
}

            

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.plus-icon {
    transition: transform 0.3s ease;
}

/* button:hover {
    background: linear-gradient(135deg, rgba(147, 51, 234, 0.15), rgba(126, 34, 206, 0.1)) !important;
    backdrop-filter: blur(10px);
} */


@keyframes move {
  50% {
    transform: translateY(-1rem);
  }
}

.moving {
  animation: move 3s linear infinite;
}


.scroll-container {
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.scroll-container:hover {
    animation-play-state: paused;
}