@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Rocker&family=Pixelify+Sans:wght@400..700&family=Poppins:wght@300;400;500;600&family=Share+Tech&family=Uncial+Antiqua&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #000;
    color:white;
}

/* nav-bar */
nav{
    display:flex;
    justify-content:space-between;
    padding:25px 60px;
    font-family: "Pixelify Sans", sans-serif;
}



nav ul{
    display:flex;
    gap:40px;
    list-style: none;
}

nav a{
    text-decoration: none;
    color:rgba(188, 188, 188, 0.8);
    transition:all 0.3s ease;
}




nav a:hover{
    color:rgba(255, 255, 255, 0.8);
    text-decoration: underline;
}

/* PANEL STYLE */
.panel{
    display:flex;
    justify-content:center;
    padding:80px 5%;

}

.panel-box{
    max-width:1100px;
    width:90%;
    padding:70px 90px 142px;
    position:relative;
    margin:0 auto;
    border-bottom: 2px solid rgb(78, 78, 78);
}

.logo{
    font-family: "Uncial Antiqua", system-ui;
}


/* .tag{
    color:#00eaff;
    font-size:14px;
    letter-spacing:2px;
} */

.panel-box h1{
    font-family: "Pixelify Sans", sans-serif;
    margin:15px 0;
}

.motto{
    font-family: "Poppins", sans-serif;
    margin-bottom:20px;
    color:#c77dff;
}

.divider{
    height:1px;
    width:100%;
    background:linear-gradient(to right,#ffffff,#c77dff);
    margin:25px 0;
}

.description{
    font-size: larger;
    font-family: "Poppins", sans-serif;
    line-height:1.8;
}


.keycarf23{
    font-size: larger;
    font-weight: 500;
    color: #910af9;
}


/* TEAM */
.team{
    text-align:center;
    padding:80px 10%;
}

.team h2{
    font-family: "Pixelify Sans", sans-serif;
    margin-bottom:40px;
}

/* creators card */
.team-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    column-gap: 80px;  
    row-gap: 70px;   
}

.creator-card:nth-child(1) { grid-column: 1 / span 2; }
.creator-card:nth-child(2) { grid-column: 3 / span 2; }
.creator-card:nth-child(3) { grid-column: 5 / span 2; }
.creator-card:nth-child(4) { grid-column: 2 / span 2; }
.creator-card:nth-child(5) { grid-column: 4 / span 2; }

.creator-card{
    width:240px;
    padding:30px 20px;
    background:#090909;
    border:1px solid #5b5b5b;
    border-radius:18px;
    text-align:center;
    transition:0.3s ease;
}

/* .creator-card:hover{
    box-shadow:0 0 25px rgba(0,234,255,0.4);
} */

/* 3d Avatar Placeholder */
/* .avatar-3d{
    width:110px;
    height:110px;
    margin:0 auto 20px;
    border-radius:20px;
} */

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 15px;
    object-fit: cover;
    border: 0.25px solid #fff;
    margin-bottom: 15px;
}




/* Name */
.creator-card h3{
    font-family: "Poppins", sans-serif;
    margin-bottom:6px;
}

/* Branch */
.branch{
    font-size:14px;
    font-family: "Poppins", sans-serif;
    color:#c77dff;
    margin-bottom:15px;
}

/* Social Buttons */
.social-links{
    display:flex;
    justify-content:center;
    gap:10px;
}

.social-links a{
    padding:10px 24px;
    border-radius:20px;
    font-size:14px;
    font-family: "Pixelify Sans", sans-serif;
    text-decoration:none;
    background:#ffffff;
    color:rgb(0, 0, 0);
    border:1px solid #969696;
    transform: none;
    transition:all 0.3s ease;
}

.social-links a:hover{
    transform: translateY(-2px);
    /* background:#9900ff;
    color:rgb(255, 255, 255); */
}


.footer{
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.teamname{
    color: #910af9;
    font-weight: 500;
}